html, body {
  color: white;
  background-color: #0064bd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor {
  display: flex;
  flex: 1;
}

.editor .CodeMirror {
  flex-grow: 1;
}

.CodeMirror:first-of-type {
  border-right: 2px solid #0064bd;
}

.CodeMirror {
  height: 100%;
  border-radius: 4px;
}
